.nav-cont{

    .ant-input-affix-wrapper{

        padding:0px 11px;
        background-color: #F5F5F5;
        border-color: #F5F5F5;
        
        input{
            background-color: #F5F5F5;
        }
    }

    .name-icon{
        background-color: #E4E3FF;
        color: #5B55FF;
        padding: 0.15rem 0.5rem;
        margin-left: 0.5rem;
        border-radius: 3px;
    }

    .kw{
        display: inline-block; 
        height: 1.3rem; 
        width: 1.35rem;
        margin-right: 0.5rem !important;
        vertical-align: sub;
    }
    
    .kw-dash{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' fill='%2351A4FB'%3e%3cpath  d='M4.5,18.389H15.611V4.5H4.5ZM4.5,29.5H15.611V21.167H4.5Zm13.889,0H29.5V15.611H18.389Zm0-25v8.333H29.5V4.5Z'/%3e%3c/svg%3e") no-repeat center;
    }
    
    .kw-app{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.016 25' fill='%2351A4FB'%3e%3cpath  d='M11.676,6.641V0H1.251A1.21,1.21,0,0,0,0,1.172V23.828A1.21,1.21,0,0,0,1.251,25H18.765a1.21,1.21,0,0,0,1.251-1.172V7.813H12.927A1.217,1.217,0,0,1,11.676,6.641Zm3.336,11.523a.608.608,0,0,1-.626.586H5.63A.608.608,0,0,1,5,18.164v-.391a.608.608,0,0,1,.626-.586h8.757a.608.608,0,0,1,.626.586Zm0-3.125a.608.608,0,0,1-.626.586H5.63A.608.608,0,0,1,5,15.039v-.391a.608.608,0,0,1,.626-.586h8.757a.608.608,0,0,1,.626.586Zm0-3.516v.391a.608.608,0,0,1-.626.586H5.63A.608.608,0,0,1,5,11.914v-.391a.608.608,0,0,1,.626-.586h8.757A.608.608,0,0,1,15.012,11.523Zm5-5.571v.3H13.344V0h.318a1.294,1.294,0,0,1,.886.342l5.1,4.785A1.132,1.132,0,0,1,20.016,5.952Z'/%3e%3c/svg%3e") no-repeat center;
    }
    
    .kw-ref{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.682 25' fill='%2351A4FB'%3e  %3cg transform='translate(-770 -251)'%3e  %3ccircle cx='5.114' cy='5.114' r='5.114' transform='translate(780.227 251)'/%3e %3ccircle cx='5.114' cy='5.114' r='5.114' transform='translate(770 265.773)'/%3e %3ccircle cx='5.114' cy='5.114' r='5.114' transform='translate(790.455 265.773)'/%3e %3crect width='10.227' height='2.273' rx='1.136' transform='translate(777.955 270.318)'/%3e %3crect width='10.235' height='2.924' rx='1.462' transform='translate(785.412 257.621) rotate(120)'/%3e %3crect width='10.234' height='2.924' rx='1.462' transform='translate(794.306 270.471) rotate(-120)'/%3e%3c/g%3e%3c/svg%3e") no-repeat center;
    }
    
    .kw-renter{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25.064' fill='%2351A4FB'%3e%3cpath  d='M18.784,23.215v-1.59c1.967-1.2,3.571-4.181,3.571-7.165,0-4.792,0-8.676-5.357-8.676s-5.357,3.884-5.357,8.676c0,2.984,1.6,5.968,3.571,7.165v1.59C9.155,23.75,4.5,26.963,4.5,30.849h25c0-3.885-4.657-7.1-10.714-7.633Z' transform='translate(-4.499 -5.784)' /%3e%3c/svg%3e") no-repeat center;
    }
    
    .kw-setting{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25.007' fill='%2351A4FB'%3e%3cpath  d='M27.436,17A3.217,3.217,0,0,1,29.5,14a12.752,12.752,0,0,0-1.543-3.717,3.26,3.26,0,0,1-1.309.28,3.21,3.21,0,0,1-2.936-4.518A12.713,12.713,0,0,0,20,4.5a3.214,3.214,0,0,1-6,0,12.752,12.752,0,0,0-3.717,1.543,3.21,3.21,0,0,1-2.936,4.518,3.154,3.154,0,0,1-1.309-.28A13.033,13.033,0,0,0,4.5,14.005a3.216,3.216,0,0,1,.007,6,12.752,12.752,0,0,0,1.543,3.717,3.211,3.211,0,0,1,4.238,4.238,12.826,12.826,0,0,0,3.717,1.543,3.208,3.208,0,0,1,5.99,0,12.752,12.752,0,0,0,3.717-1.543,3.214,3.214,0,0,1,4.238-4.238,12.826,12.826,0,0,0,1.543-3.717A3.232,3.232,0,0,1,27.436,17ZM17.059,22.2a5.208,5.208,0,1,1,5.208-5.208A5.207,5.207,0,0,1,17.059,22.2Z' transform='translate(-4.5 -4.5)' /%3e%3c/svg%3e") no-repeat center;
    }

    nav:last-child{
        box-shadow: 0px 2px 2px #00000029; 
    }

    .second-nav{
        background-color: #fff;
        border-top: 1px solid #00000029;   
        padding-bottom: 0.4rem;
        padding-top: 0.4rem;
    
        .nav-link{
            font-size: 0.9rem;
            color: #A7A7A7 !important;
            padding-top: 0.35rem;
            padding-bottom: 0.35rem;
            margin-top: 0.35rem;
            margin-bottom: 0.35rem;
            margin-right: 0.5rem;
            border-radius: 25px;

            &:hover{
                background-color: #E5F2FF;
            }

            &.active{
                background-color: #E5F2FF;
                color: #51A4FB !important;
            }

        }
    }
}