.nav-cont {
    .text-disable {
        font-size: 14px/28px !important;
        color: #ffff !important;
    }

    .tab-svg {
        background: url('https://res.cloudinary.com/kwaba/image/upload/v1591462705/finance-info-svg_twxymw.svg');
    }

    .text-tab {
        color: #51A4FB !important;
    }

}