@media (min-width: 768px) {
  .profile-form-wrap {
    margin-left: 3.333333%;
  }
}

/* stops from applying margin left on ipad screens */

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .profile-form-wrap {
    margin-left: 3.333333%;
  }

  .ml-sm {
    display: block !important;
    margin-left: 0 !important;
  }

  .w-mobile {
    width: 55% !important;
  }

  .w-mobile-date {
    width: 55% !important;
  }
}

@media (max-width: 767px) {
  .w-mobile {
    width: 100% !important;
  }

  .line-height-sm {
    line-height: 100% !important;
  }

  .profile-cards {
    height: 90% !important;
    /* width: 70%;
    margin-bottom: 5%; */
  }

  .m-view-center {
    margin-left: 7.3% !important;
  }

  .m-view-app-process {
    width: 350px !important;

  }

  .w-mobile-date {
    width: 75% !important;
  }
}

/* for iphone 6/7/8 and pixel 2 */
@media screen and (max-width: 418px) and (min-width: 410px) {
  .m-view-center {
    margin-left: 12.8% !important;
  }
}

.line-height-5 {
  line-height: 40% !important;
}

.bg-img-profile {
  background-image: transparent url("https://res.cloudinary.com/kwaba/image/upload/v1589543708/Mask_Group_42_key0od.svg") 0 0 no-repeat;
  opacity: 0.07;

  /* filter: blur(1px); */
}

.profile-cards {
  height: 140px;
  border: none;
}

.profile-cards-right {
  width: 275px;
  border: none;
  border-radius: 5px !important;
}

.text-muted {
  color: #a7a7a7 !important;
}

.text-blue {
  color: #00204f;
}

.profile-cards-large {
  height: 210px;
}

.tag {
  width: 55px;
  height: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  opacity: 1;
  font-size: 12px;
  text-align: center;
}

.tag-fail {
  background: #ffdddd 0% 0% no-repeat padding-box;
  color: #ff6c6c;
}

.tag-success {
  background: #d6ffd8 0% 0% no-repeat padding-box;
  color: #21ad26;
}

.vl {
  border-left: 6px solid green;
  height: 500px;

  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}