.profile {
    .card {
        border: none;
    }

    .bg-img {
        background-image: url("https://res.cloudinary.com/kwaba/image/upload/v1589543708/Mask_Group_42_key0od.svg");

    }
}

.dashboard {
    .bg-img {
        background-image: url("https://res.cloudinary.com/kwaba/image/upload/v1589543708/Mask_Group_42_key0od.svg");

    }
}